*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* html{
    background-color: #F2F2F2;
} */
.major{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-gap: 10px;
}
.first{
    grid-column: 1/2;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
}



.logo{
    margin-top: 1em;
    margin-left: 1em;
}
.main__section{
    grid-column: 2/13;
    background-color: white;

}
.vert_sec_dd{
    width:236px;
    background: #ECECEC;
    padding:0.5em;
    border-radius: 4px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 24px;
}
button{
    border-radius: 4px;
    padding:0.5em;
    width: 236px;
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 24px;
    text-align: left;
    

}
.num{
    font-size: 0.8em;
}
.up{
    font-size: 0.8em;
}
.button{
    background-color: #FFFFFF;
    border-style: none;
}
.btn-purple{
    /* box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726); */
    background:linear-gradient(188.54deg, #9E94FF 0%, #7E72F2 99.2%);

}
.caf{
    margin-top: 9em;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6F64F8;
    font-size: 9px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    padding: 1.5em;

}
.section{
    font-size: 12px;
}
.ui{
    font-size: 12px;
}
.form{
    font-size: 12px;
}
.pages{
    font-size: 12px;
}
.OTHERS{
    font-size: 12px;
}
.invoice{
    font-size: 12px;
}
.ext{
    font-size: 12px;
}
.section__app{
    margin-left: 1.5em;
    padding: 0.5em;
    color: #2C2C2C;
    font-size: 10px;
}
.section__app>img{
width:13px;
height:13px;
}
.app{
    margin-top: 1em;
}
.section__ui{
    margin-left: 1.5em;
    padding: 0.5em;
}
.section__ui >img{
    width: 13px;
    height: 13px;
}
.section__form{
    margin-left: 1.5em;
    padding: 0.5em; 
}
.section__form >img{
    width:13px;
    height:13px;
}
.section__ext >img{
    width:13px;
    height:13px;
}
.section__pages >img{
    width:13px;
    height:13px;
}
.yk >img{
    width: 13px;
    height:13px;
}
.section__pages{
    margin-left: 1.5em;
    padding: 0.5em;
}
.section__invoice{
    margin-left: 1.5em;
    padding: 0.5em;
}
.section__ext{
    margin-left: 1.5em;
    padding: 0.5em;
}
.section__others{
    margin-left: 1.5em;
    padding: 0.5em;
}
.yk{
    display: flex;
    justify-content: space-between;
    color:#606060;
    
}
.main__section__text .oval{
    width:25px;
    height:25px;
}
.group{
    width:25px;
    height:25px;
}

.main__section{
    background-color: #F9F9F9;
}
.main__section__top{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.main__section__icons >img{
    padding-right: 0.4em;

}
.main__section__text{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.main__section__text img{
    padding: 0.5em;
}
.second__section__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second__section__top{
    font-size: 14px;
}
.filter{
    font-size: 10px;
}
.pt1{
    font-size: 12px;
    font-weight: bold;
}
.pt2{
    font-size: 12px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}
.pt3{
    font-size: 12px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}
.shedy{
    font-size: 12px;
    font-weight: bold;
}
.shedytwo{
    font-size: 11px;
}
.numbers{
    font-size: 10px;
}
.eng{
    12px;
}
.main__section__icons >img{
    width: 13px;
    height: 13px;
}
.engicons >img{
    width: 13px;
    height: 13px;
}



.overview{
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    grid-gap: 10px;

}
.overview__sidebar{
    grid-column: 1/3;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
   


.over{
    grid-column: 3/11;
    /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216); */
}
.Def{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8em;    
}
.Def >select{
font-size: 10px;
padding-top: 5px;
padding-bottom: 6px;
padding-right: 2em;
border-radius: 8px;
margin-bottom: 6px;
}
    
.dd{
    display: flex;
    align-items: center;
}
.dd>img{
    height: 30px;
    width: 30px;
}
.fndi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.def{
    padding: 0em 1em;
}
.category__list{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0.5em;
}
.multi_range_list{
    font-size: 12px;
    justify-content: space-between;
    padding: 0.5em;
}
.brand_list{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
.slide{
    padding: 1em;
    display:flex;
    justify-content: space-between;
 
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-bottom: 2em;
}
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 13px; /* Set a specific slider handle width */
    height: 13px; /* Slider handle height */
    background: rgb(81, 79, 196); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(48, 42, 141); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.overview__major{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.products {
    max-width: 350px;
    /* height: 320px; */
    background-color: #FFFFFF;
    margin-top: 3em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}

.btn__items {
    max-width: 118px;
}

.cart__buttons {
    display: flex;
    justify-content: space-between;
}
.filterBar__title__item img{
    height: 15px;
    width: 15px;
}
.filterBar__title__item{
    display: flex;
    justify-content: space-between;
    margin: 1.8em;
    
}
.filterBar__title{
    padding-top: 2em;
    padding-bottom: 1em;
}

/* .ratings {
    display: flex;
    justify-content: space-between;
} */


.desc {
    font-size: 8px;
}
.ec{
    font-size: 10px;
}
.ect{
    font-size: 10px;
    color: #6F64F8;
}

.image__items {
    width: 150px;
    height: 230px;
    padding-right: 2em;
    transform: translateX(50%);
    padding-top: 2em;
}
/* #change{
    height: 300px;
} */

.merch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 2em; 
}

.merch__name {
    font-size: 11px;
    font-weight: 500;
}
input::placeholder{
    color: #999999;
    padding-right: 5em;
    font-size: 18px;
} 
.search{
    position: relative;
}
.search input{
    width:95%;
    padding:10px;
    /* box-shadow:0px 2px 8px rgba(0,0,0,0.135216); */
    border-radius: 8px;
} .search .fa-search{
    position: absolute;
    top: 12px;
    left:90%;
}



 
 .rating_list{
    display:flex;
}
/* footer{
    margin-top: 3em;
    padding-left: 6.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer .para{
    display: inline;
    font-weight: normal;
    font-size: 12.8px;
    color: #2C2C2C;
}
.footer{
    display: flex;
    align-items: center;
}
.pagination{
    height: 26px;
}
.algolia{
    width: 106.5px;
    height: 29.11px;
    padding-right: 7px;
}
     */

.ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.p{
    /* transform: translateX(-50%); */

}
.eng{
    font-size: 12px;
}
.john >h4{
    font-size: 12px;
}
.john >p{
    font-size: 8px;
}
.pagination__container {
    display: flex;
    margin-top: 1em;
  }

  .pagination__prev,
  .pagination__next {
    background: #EDEDED;
    padding: 1em;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .pagination__numbers {
    background: #EDEDED;
    margin: 0 1em;
    padding: 0em 2em;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  .pagination__numbers>span {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 21px;
  }

  .pagination__numbers>span.purple {
    background: #6F64F8;
    color: #fff;
    padding: 4px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }    